@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.menu {
	width: 187px;
	height: 800px;
	border: 1px solid #EBB683;
	background-color: #FFF3E1;
}

.menu .span, .menu .span1 {
	height: 35px;
	background-color: #FFDCA9;
	font-size: 14px;
	border: 1px solid #EB5409;
	padding-left: 20px;
	display: block;
	cursor: pointer;
}

.span img, .span1 img {
	margin-right: 5px;
	margin-top: 7px;
	float: left;
}

.span .title, .span1 .title {
	font-weight: bold;
	margin-top: 7px;
	display: block;
}

.menu ul {
	background-color: #FFF3E1;
}

.menu ul li {
	height: 25px;
	font-size: 13px;
	border-bottom: 1px solid #EBB683;
	padding-top: 7px;
	padding-left: 20px;
}

.menu ul {
	display: none;
}

.menu a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}