@CHARSET "UTF-8";
.search-wrapper {
	background: #F2F5F4;
	padding: 30px 0 28px;
	min-width: 1200px
}

.search_box {
	border: 0 solid #00b38a;
	width: 938px;
	height: 46px;
	margin: 0 auto;
	position: relative
}

.search_input {
	width: 762px;
	line-height: 20px;
	float: left;
	font-size: 16px;
	padding: 12px 16px;
	margin: 0;
	border: 1px solid #E8E8E8;
	border-right: 0
}

.search_input:focus {
	border: 1px solid #00b38a;
	border-right: 0
}

.search_button {
	float: left;
	width: 142px;
	height: 46px;
	font-size: 18px;
	color: #FFF;
	border: 0;
	background:#004098;
	cursor: pointer
}

.search_button:hover {
	background: #004098;
}

.searchType {
	cursor: pointer;
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 98px;
	background: #fff;
	left: -2px;
	top: 0
}

.searchType li {
	font-size: 16px;
	height: 23px;
	line-height: 24px;
	padding: 7px 22px;
	border: 2px solid #00b38a;
	display: none
}

.searchType li.type_selected {
	height: 23px;
	border-left: 2px solid #00b38a;
	border-right: 2px solid #00b38a;
	border-top: 0;
	border-bottom: 0;
	display: block
}

.searchtype_arrow {
	height: 0;
	width: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	border-width: 5px 5px 0;
	border-style: solid dashed;
	border-color: #004098 transparent transparent;
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
	position: absolute;
	top: 18px;
	left: 73px
}

.searchtype_arrow.transform {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	transition: all .4s ease 0
}

.hotSearch {
	width: 938px;
	height: 22px;
	overflow: hidden;
	margin: 6px auto 0
}

.hotSearch dt, .hotSearch dd {
	float: left
}

.hotSearch dt {
	margin-right: 10px;
	font-size: 14px;
	color: #777
}

.hotSearch dd {
	margin-right: 20px;
	color: #999
}

.hotSearch dd a {
	color: inherit
}

.hotSearch dd a.highlight {
	color: #004098
}

.hotSearch dd a:hover {
	text-decoration: underline
}
.container {
	padding-bottom: 39px
}

.container.has-login-toolbar {
	padding-bottom: 91px
}

.container .contain-header {
	position: relative
}

.container .container-body {
	margin: 26px auto 0;
	width: 1200px
}